Click==7.0
date-extractor==3.9.1
datefinder==0.7.0
dateparser==0.7.1
Flask==1.0.2
Flask-Cors==3.0.7
flask-marshmallow==0.10.1
Flask-RESTful==0.3.7
Flask-SQLAlchemy==2.4.0
geograpy3==0.1.2
geotext==0.4.0
gunicorn==19.9.0
h5py==2.8.0
heapdict==1.0.0
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
pytz==2018.7
requests==2.21.0
Werkzeug==0.14.1

